In [1]:
import pickle
import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model

In [2]:
# Loading the trained model, scaler, one hot and label encoder
model=load_model('model.h5')

with open("label_encoder_gender.pkl",'rb') as file:
    label_encoder_gender=pickle.load(file)

with open("onehot_encoder_geo.pkl",'rb') as file:
    onehot_encoder_geo=pickle.load(file)

with open("scaler.pkl",'rb') as file:
    scaler=pickle.load(file)

WARNING:tensorflow:From d:\Github Repos\Churn Modelling Deep Learning Project using ANN\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [8]:
# Example input data
input_data={
    "CreditScore":600,
    "Geography":"France",
    "Gender":"Male",
    "Age":40,
    "Tenure":3,
    "Balance":60000,
    "NumOfProducts":2,
    "HasCrCard":1,
    "IsActiveMember":1,
    "EstimatedSalary":50000
}

In [9]:
df=pd.DataFrame([input_data])
df.head()

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [10]:
df['Gender']=label_encoder_gender.transform(df['Gender'])

In [12]:
encoded_geo=onehot_encoder_geo.transform([df['Geography']]).toarray()
encoded_geo

d:\Github Repos\Churn Modelling Deep Learning Project using ANN\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [15]:
geography_df=pd.DataFrame(encoded_geo,columns=onehot_encoder_geo.get_feature_names_out())
geography_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [16]:
df.drop("Geography",axis=1,inplace=True)

In [18]:
input_df=pd.concat([df,geography_df],axis=1)
input_df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [19]:
# Scaling the input data
input_scaled=scaler.transform(input_df)

In [20]:
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [22]:
# Prediction
prediction_probability=model.predict(input_scaled)
print(f"The Prediction is: {prediction_probability}")

1/1 [==============================] - 0s 64ms/step
The Prediction is: [[0.05092969]]

In [23]:
if(prediction_probability>0.5):
    print("The customer is likely to churn")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn